[Desktop Entry]
Name=Remote Connection Manager
GenericName=Remote Connection Manager
Comment=Controll all your RDP and SSH remote connections
Categories=Utilities;
Exec=com.github.rippieuk.rconnman
Icon=com.github.rippieuk.rconnman
Terminal=false
Type=Application
Keywords=RDP;SSH;Remote;
